# **Theory Questions**

**Q.1 What are data structures, and why are they important**


=> Data structures are organized ways of storing and managing data to enable efficient access and modification. They are important because they optimize data processing tasks, such as searching, sorting, and storing, based on specific requirements.

**Example:** Lists, dictionaries, sets, and tuples in Python.

**Q.2 Explain the difference between mutable and immutable data types with examples.**

=>**Mutable data types:** These are types of data whose values can be changed after they are created. Examples include:

- **List:** [1, 2, 3] (You can modify its elements).

- **Dictionary:**{"key": "value"} (You can change, add, or remove key-value pairs).

**Immutable data types:** These are types of data whose values cannot be modified after creation. Examples include:

- **Tuple:** (1, 2, 3) (You cannot change the elements once it is created).

- **String:** "hello" (You cannot modify a character in a string directly).

**Immutable: tuple str python Copy code**

**Q.3 What are the main differences between lists and tuples in Python4**
  
  =>
**Mutability:**

- List: Mutable (can be modified after creation).

- Tuple: Immutable (cannot be modified after creation).

**Syntax:**

- List: Defined with square brackets ([]), e.g., [1, 2, 3].

- Tuple: Defined with parentheses (()), e.g., (1, 2, 3).

**Use case:**

- Use lists when you need to modify the contents, like adding or removing elements.

- Use tuples when you need to store data that should remain unchanged to ensure data integrity.

**Q.4 Describe how dictionaries store data**

  => Dictionaries store data as key-value pairs, using a hash table internally for fast data retrieval.

**Example:**

In [ ]:
my_dict = {'name': 'Alice', 'age': 25}
print(my_dict['name'])  # Output: Alice

Alice

**Q.5 Why might you use a set instead of a list in Python**

 => Sets ensure uniqueness of elements and provide faster membership testing compared to lists.\

**Example:**

In [ ]:
my_set = {1, 2, 3}
my_list = [1, 2, 2, 3]
print(set(my_list))  # Output: {1, 2, 3}

{1, 2, 3}

**Q.6 What is a string in Python, and how is it different from a list**

 => A string in Python is a sequence of characters, typically used to represent textual data. It is immutable, meaning once created, its content cannot be changed.

- A list can store various types of objects (integers, strings, other lists, etc.), and it is mutable, meaning you can change, add, or remove elements.

- A string can only store characters, and its content cannot be modified after creation.

**Q.7 How do tuples ensure data integrity in Python**

  => Tuples are immutable, meaning once a tuple is created, its elements cannot be changed, deleted, or added to. This immutability ensures that the data in a tuple remains intact and unchanged, providing a level of data integrity, especially when tuples are used to store fixed data like coordinates or other unchangeable values.

**Q.8 What is a hash table, and how does it relate to dictionaries in Python**

  => A hash table is a data structure that stores data in an associative manner, mapping keys to values using a hash function. This allows for fast retrieval of values when you know the key. In Python, dictionaries are implemented using hash tables, so dictionary keys are hashed to enable quick access to their corresponding values.

**Q.9 Can lists contain different data types in Python**

  => Yes, Python lists can contain elements of different data types.

**Example:**

In [5]:
my_list = [1, "hello", 3.14]

**Q.10 Explain why strings are immutable in Python**

  => Strings are immutable in Python to optimize performance. Since strings are used frequently in programs, immutability allows Python to manage memory more efficiently, share memory for identical strings, and prevent accidental modifications. Additionally, immutability makes strings hashable, allowing them to be used as dictionary keys.

**Q.11 What advantages do dictionaries offer over lists for certain tasks**

  => Dictionaries allow constant-time key-based lookups, whereas lists require linear time for searching.

**Example:**

In [ ]:
my_dict = {'name': 'Alice'}
print(my_dict['name'])  # Fast lookup

Alice

**Q.12 Describe a scenario where using a tuple would be preferable over a list**

  => When you need to store constant data that shouldn’t be modified, such as configuration settings.

**Example:**

In [ ]:
config = (1920, 1080)  # Screen resolution

**Q.13 How do sets handle duplicate values in Python**

  => Sets automatically remove duplicate values.

**Example:**

In [ ]:
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

**Q.14 How does the “in” keyword work differently for lists and dictionaries**

  =>

For **lists**, the "in" keyword checks if a value exists in the list.

For **dictionaries**, the "in" keyword checks if a **key** exists in the dictionary.

**Q.15 Can you modify the elements of a tuple? Explain why or why not.**

  => No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its values cannot be changed, which ensures that the data remains constant.

**Q.16. What is a nested dictionary, and give an example of its use case?**

  => A nested dictionary is a dictionary where one or more of the values are themselves dictionaries. This is useful when dealing with hierarchical data.

**Example**

In [6]:
student = {
    "name": "John",
    "grades": {
        "math": 90,
        "science": 85
    }
}

In this example, student has a dictionary value for the key grades.

**Q.17. Describe the time complexity of accessing elements in a dictionary.**

  => The time complexity of accessing elements in a dictionary is O(1) on average, meaning it can be accessed in constant time. However, in the worst case (e.g., hash collisions), it could be O(n).

**Q.18. In what situations are lists preferred over dictionaries?**

  => Lists are preferred when the order of elements matters, or when you need to store data sequentially, without needing to map keys to values.

**Q.19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

  => Dictionaries are considered unordered because they do not maintain the order of elements. Data retrieval is based on keys, not the position of elements, meaning the order of items is not guaranteed.

**Q.20. Explain the difference between a list and a dictionary in terms of data retrieval.**

  =>
  
- In a **list**, data is retrieved by index (e.g., my_list[2]), and the order is maintained.
- In a **dictionary**, data is retrieved by key (e.g., my_dict['key']), and the order of retrieval is not guaranteed (though in recent versions of Python, dictionaries do maintain insertion order)

# **Practical Questions**

**Q.1 Write a code to create a string with your name and print it.**

In [7]:
name = "Abhishek"
print(name)

Abhishek

**Q.2. Write a code to find the length of the string "Hello World"**

In [8]:
string = "Hello World"
print(len(string))

11

**Q.3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [9]:
string = "Python Programming"
print(string[:3])

Pyt

**Q.4. Write a code to convert the string "hello" to uppercase.**

In [10]:
string = "hello"
print(string.upper())

HELLO

**Q.5. Write a code to replace the word "apple" with "orange" in the string "like apple".**

In [11]:
string = "like apple"
new_string = string.replace("apple", "orange")
print(new_string)

like orange

**Q.6. Write a code to create a list with numbers 1 to 5 and print it.**

In [12]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

**Q.7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [13]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

**Q.8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [14]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

**Q.9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [15]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

**Q.10. Write a code to reverse the list (10, 20, 30, 40, 50)**

In [16]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

**Q.11. Write a code to create a tuple with the elements 10, 20, 30 and print it.**

In [17]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

**Q.12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').**

In [18]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

**Q.13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).**

In [19]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

**Q.14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [20]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

**Q.15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').**

In [21]:
my_tuple = ('apple', 'orange', 'banana')
print('banana' in my_tuple)

True

**Q.16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.**

In [22]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

**Q.17. Write a code to add the element 8 to the set (1, 2, 3, 4).**

In [23]:
my_set = {1, 2, 3, 4}
my_set.add(8)
print(my_set)

{1, 2, 3, 4, 8}

**Q.18. Write a code to create a tuple with the elements 10, 20, 30 and print it.**

In [24]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

**Q.19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').**

In [25]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

**Q.20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).**

In [26]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

**Q.21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')**

In [27]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

**Q.22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').**

In [28]:
my_tuple = ('apple', 'orange', 'banana')
print('banana' in my_tuple)

True

**Q.23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.**

In [29]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

**Q.24. Write a code to add the element 6 to the set (1, 2, 3, 4).**

In [30]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}